# Getting a timetable & courses info from a messy table

## Loading data from csv file

In [67]:
import pandas as pd
import xlwt
import openpyxl
import os
from datetime import datetime as dt

course_data = pd.read_csv("turismo-disciplinas.csv", encoding="latin1", delimiter=";", usecols=[2,3,4,5,6,7,8])
print(dt.now())

2022-03-31 21:23:28.208873

## Code cleaning & Structuring Data
Odd pattern to select the right courses, how to abstract the pattern for each class?
! GLOBALS - needs refactoring into a class!

In [71]:
weekdays=[]
timetable={}
course_list=[]    

for course_line in course_data.values:   
    valid_course = course_line[1].find('GTURPE11')
    if valid_course == -1:
        valid_course = course_line[1].find('BTURPE5131')        

    if valid_course >= 0:
            current_course = config_course(course_list, course_line)
            new_entry = {"course": current_course, "time":[course_line[4], course_line[5]]}

            try: #hasattr not working here!
                timetable[course_line[3]].append(new_entry) 
            except KeyError:
                timetable[course_line[3]] = [];
                timetable[course_line[3]].append(new_entry)

            if (course_line[3] not in weekdays):
                weekdays.append(course_line[3]);       

print(dt.now())

2022-03-31 21:25:06.687646

### Configuring course data in dictionary
Some javascript-like code here... (better - creating a class and a constructor)

In [65]:
def config_course(course_list, course_line):
    added = False
    for course in course_list:
        try:
            if course["name"] == course_line[2]:
                course["times"].append([course_line[3], [course_line[4], course_line[5]]]) 
                added = True
                return course
        except TypeError:
            continue            
        
    if (not added):
        new_course = {};
        new_course["name"] = course_line[2]
        new_course["professor"] = course_line[6]
        new_course["times"] = []+[[course_line[3], [course_line[4], course_line[5]]]]

        course_list.append(new_course)
        return new_course
    
print(dt.now())

2022-03-31 21:23:20.264399

## Publishing Results

In [80]:
page = create_html(course_list)

file = open('timetable.html','w')
file.write(page)
file.close()

print(dt.now())

2022-03-31 21:34:04.469566

## Output

### HTML page

In [79]:
def create_html(course_list):
    str_html = "<html>\n"
    str_html += "<h1>HORÁRIO - 1o semetre/2022 - Turismo</h1>\n"
    str_html += "<h2>CEFET/RJ - Campus Petrópolis</h2>\n"
    str_html += show_timetable() + "<p></p>\n"
    str_html += '<hr />'
    str_html += '<h2> Detalhes das Disciplinas </h2>\n'
    str_html += show_courses(course_list)
    str_html += "</html>\n"
    return str_html

print(dt.now())

2022-03-31 21:34:00.179609

## Printing details

In [73]:
def show_timetable():     
    sorted_days = sorted(weekdays)
    days_courses=''
    for day in sorted_days:
        days_courses += '<h3>' + day[4:] + '</h3>\n'
        sorted_entries = sort_by_time(timetable[day])
        all_times = "<ul>\n"
        for entry in sorted_entries:  
            all_times += "<li>" + show_time_course(entry) + "</li>\n"
        all_times += "</ul>\n"
        days_courses += all_times + "\n" 
    return days_courses  + '\n'


def show_courses(course_list):
    course_details = '' 
    for course in course_list:
        course_details += '<h3>' + course["name"] + '</h3>' + '\n'
        course_details += "<p> Professor(a): " + course["professor"] + "</p>\n"        
        course_details += '<ul>'
        for day in course["times"]:
            course_details += "<li>" + print_time_entry(day) + "</li>\n"  
        course_details += '</ul>'  
    return course_details 


def sort_by_time(day):
    beginTimes=[];
    for course in day:
        beginTimes.append([course["time"], course["course"]["name"]])
    return sorted(beginTimes)  
        
    
def show_time_course(time_course):
    interval = time_course[0]
    return interval[0][0:5] + "h - " + interval[1][0:5] + "h  => " + time_course[1]
        
        
def print_time_entry(day_time):
    weekday = day_time[0][4:]
    times = day_time[1]
    time_entry = ''
    return time_entry + weekday + " - " + times[0][0:6] + "h - " + times[1][0:5] + "h" + '\n'
    
    
print(dt.now())

2022-03-31 21:28:44.736219